<style>
    /* ==========================================================================
Navigation Style
========================================================================== */
.myNavbar   {
    background-color: #000000;
    color:#222;
    border: 1px solid #fff;
 }
.navbar-default {
  margin-bottom: 0;
  border: none;
}
.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3;
}
.navbar-default .social-media {
  float: right;
  padding: 0 15px;
}
.navbar-default .social-media i {
  font-size: 22px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3;
}
.top-nav-collapse {
  background: #24242a;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.top-nav-collapse .nav > li > a {
  padding: 30px 15px;
}
</style>

<nav class="navbar navbar-default navbar-fixed-top myNavbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img src="/assets/logo/logo_brown_no_text.png" class="img-responsive" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse text-center" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/basket"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
      <li><%= link_to "Checkout", checkout_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/profile/<%=current_user.id %>">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method=>:delete) %></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>